@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@source "../pages/html";

details {
  user-select: none;
}

details[open] {
  & summary span {
    transform: rotate(180deg);
  }
}

.inline-material {
  vertical-align: -3px;
}
