{{template "base" .}}

{{define "title"}}Decklist{{end}}
{{define "content"}}
<div>
    {{if .Event}}<h3 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">{{.Event}}</h3>{{end}}
    {{if .Player}}<h4 class="text-xl font-bold mb-6 text-gray-900 dark:text-white">{{.Player}}</h4>{{end}}
    <pre>{{.Decklist}}</pre>
</div>
{{end}}
