{{ template "base" . }}

{{ define "title" }}Decklist{{ end }}
{{ define "content" }}
  <div>
    {{ if .Event }}
      <h3 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">
        {{ .Event }}
      </h3>
    {{ end }}
    {{ if .Player }}
      <h4 class="mb-6 text-xl font-bold text-gray-900 dark:text-white">
        {{ .Player }}
      </h4>
    {{ end }}
    <pre>{{ .Decklist }}</pre>
  </div>
  <div class="mt-8 flex justify-center">
    <button
      class="rounded border border-blue-600 bg-transparent px-4 py-2 font-semibold text-blue-600 hover:border-transparent hover:bg-blue-500 hover:text-white"
      onclick="history.back()"
    >
      Go Back
    </button>
  </div>
{{ end }}
