{{template "base" .}}

{{define "title"}}Events{{end}}
{{define "content"}}
<div>
<div class="d-flex gap-2 flex-wrap">
{{ range $key, $value := .Stats }}
    <div class="d-flex align-content-center">
      <div class="card" style="width: 12rem">
        <div class="card-body">
          <h5 class="card-title">{{ $key }}</h5>
          <div class="d-flex gap-4">
            <div class="d-flex">
              <span class="material-symbols-outlined">
                {{ $value.Icon }}
              </span>
            </div>
            <div class="d-flex">
              <p class="card-text">{{ $value.Value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{{ end }}
</div>
<hr class="hr hr-blurry" />
{{ $events := .Events }}
<h3>Events</h3>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range $event := $events }}
            <tr class="clickable align-middle" onclick="window.location='{{ $event.URL }}'">
                <td>{{ $event.Date }}</td>
                <td>{{ $event.Name }}</td>
                <td><a href="{{ $event.URL }}">Details</a></td>
            </tr>
        {{ end }}
    </tbody>
</table>
</div>
{{end}}
