{{template "base" .}}

{{define "title"}}Premodern-onsdagar{{end}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
        <h3>Welcome to premodern in Stockholm!</h3>
        <p>We meet every on even weeks (week number 2, 4, 6, etc) and play some premodern at Bishops Arms in Gamla Stan in Stockholm.</p>
        <p>We are running simple, very casual, tournaments in order to encourage people to play more against different people, and to track stats.</p>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="/static/images/pmseb.jpg" class="img-fluid rounded" alt="Photo of Seb Celia by: Martin Berlin" style="max-height: 600px; object-fit: cover;"/>
      <p class="text-muted"><small>Photo of Seb Celia by: Martin Berlin</small></p>
    </div>
  </div>
</div>
{{end}}
