{{template "base" .}}

{{define "title"}}Premodern-onsdagar{{end}}
{{define "content"}}
<div>
    <h2>Welcome to premodern in Stockholm!</h2>
    <p>We meet every on even weeks (week number 2, 4, 6, etc) and play some premodern at Bishops Arms in Gamla Stan in Stockholm.</p>
    <p>We are running simple, very casual, tournaments in order to encourage people to play more against different people, and to track stats.</p>
</div>
{{end}}
