{{template "base" .}}

{{define "title"}}Players{{end}}
{{define "content"}}
<div>
{{ $players := .Players }}
<h3 class="text-2xl font-bold mb-6 text-gray-900 dark:text-white">Players</h3>
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range $player := $players }}
    <div>
        <a class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-4 rounded transition-colors block text-center" href="{{ $player.url }}">{{ $player.name }}</a>
    </div>
    {{ end }}
</div>
</div>
{{end}}
