{{ template "base" . }}

{{ define "title" }}Players{{ end }}
{{ define "content" }}
  <div>
    {{ $players := .Players }}
    <h3 class="mb-6 text-2xl font-bold text-gray-900 dark:text-white">Players</h3>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4">
      {{ range $player := $players }}
        <div>
          <a class="{{ $.Scheme.ButtonPrimary }}" href="{{ $player.url }}">{{ $player.name }}</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
